// COLORS
$color-black: #080707;
$color-white: #fff;

// baby pallete
$color-baby-pink-light: #ffc8dd;
$color-baby-pink-dark: #ffafcc;
$color-baby-purple: #cdb4db;
$color-baby-blue-light: #bde0fe;
$color-baby-blue-dark: #a2d2ff;

// vintage pallete 
$color-vintage-green-dark: #264653;
$color-vintage-green-light: #2a9d8f;
$color-vintage-yellow: #e9c46a;
$color-vintage-yellow-light: #ffe7ab;
$color-vintage-orange-dark: #e76f51;
$color-vintage-orange-light: #f4a261;




$color-green: #00ffc1;
$color-yellow: #f8c000;

