.header {
    height: 100vh;
    display: flex;
    flex-direction: row;
    

    &__background-left {
        background-color: rgba($color-baby-purple, 0.4);
        width: 70%;
    }

    &__background-right {
        background-color: $color-baby-blue-light;
        width: 30%;
    }
    

    &__text-box {
        height: 6rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 20rem 20rem 0 10rem;
    }
}