.header {
    height: 95vh;
    display: flex;
    
    &__text-box {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-between;
        margin-left: 10rem;
        z-index: 10;
    }
}