.navigation {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    
    
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white-gray;
        height: 5rem;
        width: 5rem;
        border-radius: 5px;
        @include buttonBoxShadow;
        position: fixed;
        margin: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        z-index: 2000;
    }

    &__nav {
        position: fixed;
        background-color: $color-resume-blue;
        margin-top: 4rem;
        margin-right: 10rem;


    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;
        font-size: 3rem;
        font-weight: 100;
    }

    &__item {
        margin: 1rem;
    }

    &__icon {
        margin-top: 2.5rem;
        &,
        &::before,
        &::after {
            position: relative;
            width: 3rem;
            height: 2px;
            background-color: $color-resume-purple;
        }
        
        &::before,
        &::after {
            content: "";
            position: absolute;
            transition: all .2s;
            display: flex;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }
        
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        background-color: $color-resume-blue;
        top:0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        background-color: $color-resume-blue;
        top:0;
        transform: rotate(-135deg);
    }


}