.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        box-shadow: -.6rem -.6rem 1rem rgba($color-white, 0.6),
          .3rem .3rem 1rem rgba($color-black, 0.2);
        padding: 1.2rem;
        border-radius: 1.3rem;
        font-size: 1.4rem;
        font-weight: 500;
        transition: all .2s;
    }

    &:hover {
        transform: translateY(-.1rem);
        opacity: 0.6;
        box-shadow: -.8rem -.8rem 1rem rgba($color-white, 0.6),
          .8rem .8rem 1rem rgba($color-black, 0.2);
    }

    &:active,
    &:focus {
        outline: none;
        box-shadow: inset -.2rem -.2rem 1rem rgba($color-white, 0.8),
          inset .3rem .3rem 1rem rgba($color-black, 0.2);
    }

    &--purple {
        background-color: ($color-baby-purple, 0.4);
        color: $color-black;

        &::after {
            background-color: $color-baby-purple;
        }
    }

    &--animated {
       animation: moveInBttm 1.2s ease-out;
    }

}