.btn {
    &,
    &:link,
    &:visited {
        width: 16rem;
        background-color: $color-white-gray;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        @include buttonBoxShadow;
        padding: 1.2rem;
        border-radius: 1.3rem;
        font-size: 1.4rem;
        font-weight: 500;
        transition: all .2s ease-in;
        margin-top: 2rem;
        display: inline-block;
        color: $color-resume-purple;
    }

    &:hover {
        transform: translateY(-.1rem);
        opacity: 0.6;
        @include buttonBoxShadow;
    }

    &:active,
    &:focus {
        outline: none;
        @include buttonBoxShadowActive;
        color: $color-resume-green;
    }

    &--animated {
       animation: moveInBttm 1.2s ease-out;
    }

}