.line {
    height: 9rem;
    width: 60rem;
    position: absolute;
    display: flex;
    align-self: flex-start;
    z-index: -1000;
    
    
    &--pink {
        background-color: rgba($color-resume-pink, 0.6);
        left: 0;
        animation: lineFaeIn 1s ease-in;
    }

    &--yellow {
        background-color: rgba($color-resume-yellow, 0.6);
        right: 0;
        height: 10rem;
    }

    &--green {
        background-color: rgba($color-resume-green, 0.6);
        left: 1;
        height: 8rem;
        width: 80%;
    }

    &--purple-front {
        background-color: rgba($color-resume-purple, 0.6); 
        height: 3rem;
        width: 90%;
        right: 0;
    }

    &--yellow-end {
        background-color: rgba($color-resume-yellow, 0.6); 
        height: 2rem;
        width: 70%;
        margin-top: 8rem;
        left: 2;
    }

    &--blue {
        background-color: rgba($color-resume-blue, 0.6);
        right: 0;
        height: 8rem;
        width: 80%;
    }
}