@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(20rem)
    }

    80% {
        transform: translateX(-1.2rem)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-20rem) translateX(-10rem) rotate(120deg);
    }

    80% {
        transform: translateY(1.2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInBttm {
    0% {
        opacity: 0;
        transform: translateY(20rem) translateX(10rem) rotate(120deg);
    }

    80% {
        transform: translateY(-1.2rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}