@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(20rem)
    }

    80% {
        transform: translateX(-1.2rem)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-20rem) translateX(-10rem) rotate(120deg);
    }

    80% {
        transform: translateY(1.2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInBttm {
    0% {
        opacity: 0;
        transform: translateY(20rem) translateX(10rem) rotate(120deg);
    }

    80% {
        transform: translateY(-1.2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes textScramble {
    0% {
        opacity: 0;
        font-size: 4.2rem;
        letter-spacing: 3rem;
        transform: translateX(20rem);
        
    }

    20% {
        font-size: 4rem;
        letter-spacing: 2.6rem;
    }

    40% {
        font-size: 3.8rem;
        letter-spacing: 2rem;
    }


    60% {
        font-size: 3.5rem;
        letter-spacing: 1.8rem;
    }

    80% {
        font-size: 3.2rem;
        letter-spacing: 1rem;
    }

    90% {
        transform: translateX(-3rem);
    }

    100% {
        opacity: 1;
        font-size: 3rem;
        letter-spacing: .1rem;
        transform: translateX(0);
    }
}

@keyframes lineFaeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes navFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}