body {
    font-family: 'Montserrat', sans-serif;
    color: $color-black;
    line-height: 1.7rem;
    letter-spacing: .1rem;
}

.heading-primary {
    font-weight: 900;
    font-size: 12rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;

    &__main {
        font-size: 15rem;
    }

    &--top {
        margin-bottom: 9rem;
        animation: moveInTop 1.2s ease-out;
    }

    &--side {
        animation: moveInRight 1.2s ease-out;
    }
}

.heading-tertiary {
    font-size: 2.8rem;
    font-weight: 400;
}

.summary {
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 200;
    animation: textScramble 1s ease-out;

}

.paragraph {
    font-size: 2rem;
    font-weight: 200;
    margin-right: 10rem;
    line-height: 3rem;
    // border: 1px solid red;

    &__skills {
        line-height: 2.5rem;
        margin-right: 0;
    }
}
