.section-about {
    // border: 1px solid black;
    display: flex;
    align-items: center;

    &__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
}

.section-skills {
    // border: 1px solid black;
    display: flex;
    align-items: center;

    &__container {
        display: flex;
        flex-direction: column;
        
        &--boxes {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 5rem;
            // border: 1px solid black;
            
        }
    }
}